// Globals
$margin: 20px;
$padding: 20px;

// Transitions
$transitionSpeed: 350ms;

// Breakpoints
$breakpoint: 768px;

$numOfParts: 4;
$animTime: 1s;
$stagger: 0.08s;
$sliderReadyTrans: all $animTime/2 $animTime;
$maxLettersStagger: 6;
$letterStagger: 0.1s;

// colors
$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$white: #ffffff;
$red: #9f2039;
$ligthRed: #db5955;
$darkGrey: #686868; 