@import "_variables";

.link {
  padding: 50px;
  display: grid;
  gap: 20px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: $darkGrey;
  text-decoration: none;
  cursor: pointer;
}

.sub-links a:hover {
  color: $darkGrey;
  text-decoration: underline;
}

.logos a {
  padding: 10px;
  cursor: pointer;
}

.logos a img {
  width: 36px;
  height: 24px;
}

.logo {
  color: $darkGrey;
}

footer {
  padding: 20px;
  text-align: center;
  color: $darkGrey;
  margin: 10px;
}
